<div class="bg-(--p-content-background) flex flex-col" style="height: 100vh; height: 100dvh;">
  <header>
    <app-mainbar />
    @if (!disclaimed()) {
    <p-message closable severity="warn" size="small" icon="pi pi-info-circle"
               styleClass="rounded-none" [pt]="{ closeButton: { ariaLabel: 'Close disclaimer' } }"
               (onClose)="disclaimed.set(true); storage.setItem(DISCLAIMER_KEY, 'Yes!')">
      This is a demo web application, and data will be wiped periodically.
    </p-message>
    }
  </header>

  <main class="grow overflow-auto">
    @if (navigation.isInitial() || navigation.navigating() || navigation.error()) {
    <app-navigator />
    } @else {
    <router-outlet />
    }
  </main>

  <p-toast position="bottom-right" class="w-[calc(100%-40px)] max-w-md" />
</div>