@let _picking = picking();
@let _posting = !commentPostId();
@let _pickingImage = _picking === 'image';
@let _pickingEmoji = _picking === 'emoji';
@let _label = _posting ? { cap: 'Post', low: 'post' } : { cap: 'Comment', low: 'comment' };
@let _selectedColorScheme = colorScheme.selectedScheme().value;
@let _theme = _selectedColorScheme === 'system' ? 'auto' : _selectedColorScheme;
<form [formGroup]="form" (ngSubmit)="submit()" aria-label="{{ _label.cap }} form">
  <div class="space-x-1 flex" [class]="_posting ? 'items-start' : 'items-end'">
    @if (_posting) {
    <p-button outlined rounded size="small" type="button" icon="pi pi-camera" severity="secondary"
              ariaLabel="Toggle image picker" [disabled]="form.disabled"
              (click)="togglePicker('image', $event)" />
    }
    <p-button outlined rounded size="small" type="button" icon="pi pi-face-smile"
              severity="secondary" ariaLabel="Toggle emoji picker" [disabled]="form.disabled"
              (click)="togglePicker('emoji', $event)" />
    <textarea #content pTextarea rows="1" pSize="small" variant="filled" [autoResize]="true"
              id="{{ _label.low }}-content" (onResize)="showScrollbarAsNeeded()"
              aria-label="{{ _label.cap }}" formControlName="content"
              placeholder="{{ _posting ? 'Thoughts' : 'Reflection' }}..."
              class="grow align-middle max-h-[30vh] rounded-2xl tracking-wide">
    </textarea>
    <p-button rounded size="small" type="submit" [disabled]="form.disabled" severity="primary"
              [loading]="!!form.disabled" [label]="_label.cap" class="leading-snug" />
    @if (_posting) {
    @let _privacy = privacyOptions[privacyIndex()];
    <p-button outlined rounded size="small" type="button" severity="secondary"
              [disabled]="form.disabled" [icon]="_privacy.icon" [ariaLabel]="_privacy.label"
              (onClick)="privacyPopover.toggle($event)" />
    }
  </div>
  <div #liveContainer aria-live="polite" aria-atomic="true">
    @if (_pickingImage) {
    <div class="mt-1 bg-(--p-content-background) border border-surface rounded-lg overflow-auto">
      <app-image-picker [progress]="progress()" [disabled]="form.disabled"
                        (unpicked)="unpickImage()" (canceled)="togglePicker('image')"
                        (picked)="pickedImage.set($event)" />
    </div>
    }
    <p-popover #pickerPopover [appendTo]="liveContainer" [unstyled]="true"
               (onHide)="hidePicker('emoji')">
      <div class="w-screen max-w-xs p-0.5 overflow-auto">
        @if (_pickingEmoji) {
        <div style="max-height: 75vh; max-height: min(80vh,320px)"
             class="my-1 bg-(--p-content-background) border border-surface rounded-lg overflow-hidden">
          <app-emoji-picker closeableOnEscapeKey [theme]="_theme"
                            (picked)="insertPickedEmoji($event)" (closed)="togglePicker('emoji')" />
        </div>
        }
      </div>
    </p-popover>
    <p-popover #privacyPopover [appendTo]="liveContainer" [unstyled]="true" [pt]="{ root: 'p-0.5' }"
               (onShow)="hidePicker('any')">
      <p-menu ariaLabel="Privacy Menu" [model]="privacyOptions"
              [pt]="{ root: 'min-w-auto', itemLink: 'p-2' }" />
    </p-popover>
  </div>
</form>